@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --first-color:#C4B264;
    --second-color: #1E9696;
    --third-color: #3E505B;
    --fourth-color: #E1957C;

    --nav-background-color: #88e99c;
    --heading-font: 'Raleway', serif;
    --paragraph-font: 'Kanit', serif;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--heading-font);
    max-width: 960px;
    margin: 0 auto;

}
h1 {
    font-family: var(--paragraph-font);
    color: var(--third-color);
}
h2 {
    font-family: var(--heading-font);
}
/*----------------------------------------*/
header {  /*diseño del header*/
    display:grid;
    position:relative;
    place-items: center;
}
nav  {
    background-color: var(--second-color); /*background design*/
    width: 100%;
    padding: 40px;
    margin-bottom: 10px;

}
.button a { /*button design*/
    display: block;
    padding: 15px;
    margin: 1px;
    border: 2px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.button {
    display:flex;
    justify-content: center;
}
header img { /*logo design*/
    position: absolute;
    top: 10%;
    left: 10%;
    width: auto;
    height: 100px;
}

/*---------------------------------------------*/
/*div design*/
.hero {
    position: relative;
}


.hero h1 {
    position: absolute;
    background: rgba(28, 27, 27, 0.864);
    width:100%;
}


.hero article {
    background-color:rgba(119, 237, 235, 0.871) ;
    position:absolute;
    width:650px;
    margin:150px;
    top:100px;
    padding:20px;
    border:100px;
    border-radius: 4px;
}

.hero article img {
    width:150px;
    left: 550px;
    top: 7px;
    float:right;
}
article p {
    color: rgb(0, 0, 0);
    width: 450px;
}

.hero img { /*picture main*/
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
div h1{  /*title*/
    position: absolute;
    text-align: center;    
    top:20px;
}
iframe {
    display: block;
    margin-top: 20px;
    border-radius: 6px;
}
/*-----------------------------------------------*/
/*section 1 desing*/
.history { 
    display: grid;
    align-items: center;

}
.history h2 {
    display:flex;
    justify-content: center;
}
.history {  /*backgroun history design*/
    background-color: #c3e2d6;
    margin-bottom: 10px;
    width:100%;
}
.central {
    display: flex;
    justify-content: center;
    align-items: center;
}
.history img {
    justify-content: center;
    width: 30%;
}
.right .left {
    flex: 1
}
.history img {
    display: block;
    background-color: white;
    padding: 30px;
    margin: 30px;
    border: 20px;
    margin: 20px;
}
/*---------------------------------------------*/
/*section 2 desing*/
.history2 {
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: #c3e2d6;
    margin-bottom: 10px;
}
.history2 h2 {

    grid-row: 1;
    grid-column: 1 / -1;
}
.history2 img {
    grid-row: 2;
    width: 150px;
    height: auto;
}

/*figcaption desing*/

.history2 figcaption {
    background-color: #3E505B;
    padding: 10px;
    color: white;
    margin: 5px;
}

/*desing footer*/
footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sociallinks {
    display:flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.copy {
    position:absolute;
    margin-right: auto;
}
nav a {
    color: var(--third-color);
}
/*----------------form-------------------------*/
.us1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#22afe7, #fafcfd);
}
.us {
    margin: 0.5rem;
    font-size: 1rem;
}
label {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
}
.in1 {
    width: 30%;
    padding: 0.7rem;
    font-size: 0.8rem;

}
.in2 {
    width: 70%;
    padding: 0.5rem;
    font-size: 0.5rem;
}
.p1 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    padding-top:40px;
}
.mes {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    padding-bottom: 20px;
    padding-top:20px;
}
.in3 {
    width: 3%;
    padding: 0.7rem;
    font-size: 0.8rem;
}
textarea {
    width: 90%;
    height: 100px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.6rem;
}

button {
    margin: 3rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(223, 223, 246);    margin: 3rem;
}
button:hover {
    background-color: rgb(236, 230, 223);
}
.tripsA :hover{
    color:rgb(100, 94, 94);
}
.tripsA{
    font-size: 1.5rem;
    font-family: var(--paragraph-font);
    color:#333
}
.trips2 {
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}
hr {
    grid-row: 2;
    grid-column: 1 / -1;
    height: 4px;
    background-color: #333;
    margin: 30px;
    margin-bottom: 150px;

}
.trips2 h2 {

    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
    margin: 100px;
}
.trips2 img{
    grid-row: 2;
    width: 80%;
    height: auto;
}
.trips2 figcaption {
    background-color: #3E505B;
    padding: 10px;
    color: white;
    margin-right: 20%;
}
/*-------table-----------------------------------*/
.trips3 {
    display:grid;
    align-items: center;
}
.trips4 {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(140 140 140);
    margin-bottom: 20px;
    border-radius: 0.6rem;
    font-size: var(--paragraph-font);
}
thead > tr {
    background-color: rgba(119, 237, 235, 0.871);
}
th,
td {
    border: 2px solid rgb(160 160 160);
}
.trips3 h2 {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
    margin: 100px;
}
.line2 {
    grid-row: 1;
    grid-column: 1 / -1;
    height: 4px;
    background-color: #333;
    margin: 70px;
    margin-bottom: 150px;
}
/*------------------------Home Page*/
span {
    color:rgb(199, 104, 104);
    text-shadow: 1px 1px 1px black;
}
.offerh2 {
    position: relative;
    width:100%;
    margin-bottom: 50px;
}
/*--------------------------home table*/
.home {
    display:flex;
    flex-direction: column;
    background:linear-gradient(#22afe7, #fafcfd);
}

.IFH {
    width: 50%;
    padding: 0.4rem;
    font-size: 1rem;
}
/*-------------------------offer desig*/
.offer1 {
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10px;
    gap: 20px;
    background-color: #22afe7;
}
.offer1 img {
    grid-row: 2;
    width: 220px;
    height: auto;
}
.offer1 figcaption {
    background-color: #3E505B;
    padding: 10px;
    color: white;
    margin: 10px;
}
