@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --first-color:#C4B264;
    --second-color: #1E9696;
    --third-color: #3E505B;
    --fourth-color: #E1957C;

    --nav-background-color: #88e99c;
    --heading-font: 'Raleway', serif;
    --paragraph-font: 'Kanit', serif;
}

body {
    font-family: var(--heading-font);
    max-width: 960px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--paragraph-font);
    color: var(--third-color);
}
/*----------------------------------------*/
header {  /*diseño del header*/
    display:grid;
  /*  grid-template-columns: center;/*/
    align-items: center;
}
nav  {
    background-color: var(--second-color); /*background design*/
    width: 100%;
    padding: 40px;
    margin-bottom: 10px;

}
.button a { /*button design*/
    display: block;
    padding: 15px;
    margin: 1px;
    border: 2px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.button {
    display:flex;
    justify-content: center;
}
header img { /*logo design*/
    position: absolute;
    left: 640px;
    width: 90px;
}

/*---------------------------------------------*/
/*div design*/
.hero {
    position: relative;
}


.hero h1 {
    position: absolute;
    background: rgba(28, 27, 27, 0.864);
    width:100%;
}


.hero article {
    background-color:rgba(60, 145, 220, 0.487) ;
    position:absolute;
    width:750px;
    margin:150px;
    top:100px;
    padding:20px;
    border:100px;
}

.hero article img {
    width:150px;
    left: 550px;
    top: 7px;
    float:right;
}
article p {
    color: white;
    width: 450px;
}

.hero img { /*picture main*/
    display: block;
    width: 109%;
    height: auto;
    margin-bottom: 10px;
}
div h1{  /*title*/
    position: absolute;
    text-align: center;    
    top:20px;
}
/*-----------------------------------------------*/
/*section 1 desing*/
.history { 
    display: grid;
    align-items: center;

}
.history h2 {
    display:flex;
    justify-content: center;
}
.history {  /*backgroun history design*/
    background-color: #a3efd1;
    margin-bottom: 10px;
    width:109%;
}
.central {
    display: flex;
    justify-content: center;
    align-items: center;
}
.history img {
    justify-content: center;
    width: 30%;
}
.right .left {
    flex: 1
}
.history img {
    display: block;
    background-color: white;
    padding: 30px;
    margin: 30px;
    border: 20px;
    margin: 20px;
}
/*---------------------------------------------*/
/*section 2 desing*/
.history2 {
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(5, 1fr);
}
.history2 h2 {

    grid-row: 1;
    grid-column: 1 / -1;
}
.history2 img {
    grid-row: 2;
    width: 150px;
    height: auto;
}

/*figcaption desing*/

.history2 figcaption {
    background-color: #3E505B;
    padding: 10px;
    color: white;
    margin: 5px;
}

/*desing footer*/
footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sociallinks {
    display:flex;
    flex-direction: row-reverse;
}
.copy {
    position:absolute;
    margin-right: auto;
}
nav a {
    color: var(--third-color);
}